@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(reset.css);
@import url(main.css);

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &_title {
    font-size: 30px;
    color: var(--color-peer);
    text-align: center;
    @media (max-width: 330px) {
      display: none;
    }
  }
  &_photo {
    width: 250px;
    height: 250px;
    border-radius: 100%;
  }
}

.section {
  background: var(--color-background-secondary);
  border-radius: 15px;
  margin: 20px 40px;
  padding: 20px;
}

// About

.about {
  &__title {
    color: var(--color-peer);
    font-size: 25px;
  }
}

// Success formula

.success-formula {
  float: right;
  background: var(--color-background-third);
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  &__title {
    font-size: 25px;
    color: var(--color-peer);
    font-size: 16px;
  }
  &__formula {
    color: var(--color-peer-2);
  }
}

// Hobby

.hobby {
  &__titile {
    font-size: 25px;
    color: var(--color-peer);
  }
}

// Interests

.interests {
  &__title {
    font-size: 25px;
    color: var(--color-peer);
  }
}

.code-example {
  background: var(--color-background-third);
  border-radius: 15px;
  padding: 10px 20px;
  @media (max-width: 800px) {
    display: none;
  }
}

.blockquote {
  position: relative;
  background: var(--color-background);
  border-radius: 15px;
  margin: 0;
  padding: 10px;
  border: 2px solid var(--color-peer);
  &__title {
    color: var(--color-peer);
  }
  &__text {
    font-size: 15px;
  }
  &__author {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: var(--color-peer-2);
    font-size: 13px;
  }
}