@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(reset.css);
@import url(main.css);

.posts {
  display: flex;
  flex-direction: column;
//   margin: 10px 150px;
//   max-width: 600px;
//   min-width: 600px;
  gap: 20px;
}

.post {
  position: relative;
  background: var(--color-background-secondary);
  padding: 15px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: min(calc(100vw - 25px), 600px);
  &__title {
    font-size: 18px;
    color: #a134b4;
  }
  &__body {
    word-wrap: break-word;
    min-width: 100%;
    max-width: 100%;
  }
  &__delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}